<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <form id="formSearchSecret" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="searchSecret" placeholder="Search..." ng-model="$ctrl.searchSecret">
      </div>
      <button type="button" class="btn btn-primary" title="Add Secret">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </form>
  </div>

  <!-- List group -->
  <div class="list-group">
    <a ng-cloak
      ng-repeat="secret in $ctrl.secrets | filter:$ctrl.searchSecret | orderBy:secret.created:false track by secret.id"
      data-secretid="{{ secret.id }}"
      ng-click="$ctrl.loadSecret(secret.id)"
      class="list-group-item" ng-class="{'active': $ctrl.selected == secret.id}">
      {{ secret.name }}
    </a>
  </div>
</div>
