<div class="row">

  <div class="col-md-3" ng-controller="CategoriesCtrl">
    <div class="list-group">
      <a class="list-group-item" ng-class="{'active': currentCategory == -1}" ng-click="loadSecrets()">All items</a>
      <a class="list-group-item">Favourites</a>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Categories</div>

      <!-- List group -->
      <div class="list-group">
        <a ng-cloak
          class="list-group-item" ng-class="{'active': currentCategory == category.id}"
          ng-repeat="category in categories"
          id="category-{{category.id}}"
          ng-click="loadSecrets(category.id)">
          <span class="badge">{{category.secrets.length}}</span>
          {{category.name}}
        </a>
      </div>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Tags</div>

      <!-- List group -->
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <span class="badge">14</span>
          social-network
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">1</span>
          bank
        </a>
      </div>
    </div>

    <div>Angular seed app: v<span app-version></span></div>

  </div>

  <div class="col-md-3 column-wrap-secret-items">
    <secrets-list></secrets-list>
    <!--/.column-wrap-secret-items-->
  </div>

  <div class="col-md-6" ng-controller="SecretFormCtrl">
    <secret-form ng-show="SecretService.current != null"></secret-form>
  </div>
</div>
